In [1]:
import urllib.request
from bs4 import BeautifulSoup

soup = BeautifulSoup(urllib.request.urlopen("https://www.goszakup.gov.kz/ru/registry/rqc").read(),'lxml')

tbody = soup('table', {"class": "table table-bordered table-hover"})[0].find_all('tr')

for row in tbody:
    cols = row.findChildren(recursive=False)
    cols = [ele.text.strip() for ele in cols]
    print(cols)

['№', 'Наименование потенциального поставщика', 'БИН/ИИН', 'Наименование, номер и дата выдачи документа, на основании которого потенциальный поставщик включен в Перечень']
['467', 'Товарищество с ограниченной ответственностью "Эмир-Трэйд"', '160540016411', '115000002, 2099-12-31 00:00:00']
['502', 'Товарищество с ограниченной ответственностью"GLASMAN"', '070540008075', '102000012, 2099-12-31 00:00:00']
['517', 'ТОО "Гражданин"', '090540008881', '101 0 00010,']
['526', 'Товарищество с ограниченной ответственностью "ЭлтексАлатау"', '110740014027', '102900003, 2019-08-08 10:57:18']
['528', 'ТОО "KazBioServis-Astana"', '130740024484', '101000008, 2099-12-31 00:00:00']
['551', 'ТОО "ПРАГМА"', '000440001170', '107000007, 2099-12-31 00:00:00']
['553', 'ТОО "ЕСКО" по производству чулочно-носочных изделий', '060540009190', '110900004, 2019-07-04 10:57:10']
['562', 'ТОО "Азия - Софт Сервис ЛТД"', '031040000512', '102000037, 2099-12-31 00:00:00']
['574', 'Товарищество с ограниченной ответственностью "Казахстанская Агро Инновационная Корпорация"', '100740005561', '103000015, 2099-12-31 00:00:00']
['590', 'ТОО "Завод КазАрматура"', '121140005050', '110900064, 2099-12-31 00:00:00']
['592', 'ТОО "Талдықорғанкабель"', '180940034824', '105000023, 2099-12-31 00:00:00']
['605', 'ТОО "Социал 2010"', '100340021797', '102000090, 2099-12-31 00:00:00']
['469', 'ТОО "BAYAZIT Life"', '151240021993', '107900017, 2099-12-31 00:00:00']
['493', 'ТОО "Алтын Адам тігін фабрикасы"', '131140028369', '117900006, 2099-12-31 00:00:00']
['420', 'ТОО "ТЕРРА ВИТА"', '070940005293', '107900027, 2099-12-31 00:00:00']
['430', 'ИП АМАНБАЕВ и.К.', '790720304070', '114900017, 2099-12-31 00:00:00']
['455', 'Товарищество с ограниченной ответственностью "Швейная фабрика "ЩЕБЕР"', '081240006419', '114900013, 2099-12-31 00:00:00']
['464', 'ТОО "Мебель Парк"', '090540004363', '111900018, 2099-12-31 00:00:00']
['487', 'ТОО "Швейный салон "ВЕСТА"', '990940002766', '101900024, 2099-12-31 00:00:00']
['490', 'Учреждение "Усть-Каменогорское УПП ОО "КОГ"', '930240000565', '107900012, 2019-08-16 00:00:00']
['468', 'ТОО "DD21"', '120540021936', '101900001, 2019-05-21 10:57:05']
['533', 'ТОО "Hyundai Trans Auto"', '980940000817', '102000015, 2099-12-31 00:00:00']
['535', 'ТОО "IT Factory"', '140140009193', '101000029, 2099-12-31 00:00:00']
['536', 'ТОО "IT Factory"', '140140009193', '101000029, 2099-12-31 00:00:00']
['569', 'ТОО "IR.KZ"', '090940015105', '101000042, 2099-12-31 00:00:00']
['578', 'Товарищество с ограниченной ответственностью "Бал Текстиль"', '111240013497', '116900016, 2099-12-31 00:00:00']
['580', 'ТОО "FlowPort"', '140940026291', '101000052, 2099-12-31 00:00:00']
['334', 'ТОО "АУПП №2 ОО "ОНИ"', '131040010808', '102900026, 2099-12-31 00:00:00']
['335', 'ТОО "ДАРХАН-МНМ"', '070740011052', '105900010, 2019-09-09 00:00:00']
['345', 'Товарищество с ограниченной ответственностью "Фирма Леонтьев"', '020140003457', '115900003, 2019-07-05 00:00:00']
['352', 'ТОО "Экспериментальный завод №1"', '060540005158', '110900019, 2019-08-06 00:00:00']
['353', 'Товарищество с ограниченной ответственностью "ШВЕЙНАЯ ФАБРИКА "TAILOR-S"', '130940012636', '114900007, 2019-08-29 00:00:00']
['354', 'ТОО "Трикотажная фабрика "Жейде"', '001040000359', '111900003, 2019-06-28 00:00:00']
['363', 'ТОО "СЕМСПЕЦСНАБ"', '000740000639', '107900007, 2019-06-14 00:00:00']
['366', 'ТОО "Озык"', '931140000277', '112900006, 2019-07-30 00:00:00']
['368', 'Товарищество с ограниченной ответственностью "Швейная фабрика школьной и детской одежды"', '160740008923', '115900002, 2019-06-26 00:00:00']
['373', 'ТОО "Алем-БТ"', '010340005151', '116900015, 2019-09-20 00:00:00']
['382', 'ТОО "Раушан-Ай"', '080840001784', '105900006, 2019-06-28 00:00:00']
['385', 'ТОО "DANMARD"', '081240015329', '101900033, 2019-09-23 00:00:00']
['396', 'Товарищество с ограниченной ответственностью "Производственно-коммерческая фирма Торнадо-PLUS"', '940640001262', '102900004, 2019-06-27 00:00:00']
['398', 'ТОО "ТФ Ажар"', '930840000319', '105900005, 2019-06-28 00:00:00']
['416', 'ИП "Дана-Дель"', '700726401523', '108900010, 2099-12-31 00:00:00']
['421', 'Товарищество с ограниченной ответственностью "Universal - Build"', '040440003749', '102900058, 2099-12-31 00:00:00']
['431', 'ИП ЕХЛАКОВА', '641101400734', '103900023, 2099-12-31 00:00:00']
['460', 'ИП БЕЙСЕМБАЕВА Ж.Ж.', '760910401722', '108000001, 2099-12-31 00:00:00']
['489', 'Учреждение "Усть-Каменогорское УПП ОО "КОГ"', '930240000565', '107900012, 2019-08-16 00:00:00']
['617', 'Товарищество с ограниченной ответственностью "KazBioChem"', '131140012154', '102000114, 2099-12-31 00:00:00']
['769', 'ТОО "Design ProClothes"', '101040008226', '105100001, 2099-12-31 00:00:00']
['841', 'Товарищество с ограниченной ответственностью "QMedi"', '160740002052', '101100040, 2099-12-31 00:00:00']
['856', 'Товарищество с ограниченной ответственностью "Швейная фирма "Семирамида"', '970540000454', '102900041, 2099-12-31 00:00:00']

In [2]:
pip install selenium

Collecting selenium
  Downloading selenium-4.19.0-py3-none-any.whl (10.5 MB)
     |████████████████████████████████| 10.5 MB 9.5 MB/s eta 0:00:01
Requirement already satisfied: certifi>=2021.10.8 in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from selenium) (2021.10.8)
Collecting trio~=0.17
  Downloading trio-0.25.0-py3-none-any.whl (467 kB)
     |████████████████████████████████| 467 kB 11.9 MB/s eta 0:00:01
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.9)
Collecting typing_extensions>=4.9.0
  Downloading typing_extensions-4.10.0-py3-none-any.whl (33 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: sortedcontainers in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup
  Downloading exceptiongroup-1.2.0-py3-none-any.whl (16 kB)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Collecting attrs>=23.2.0
  Downloading attrs-23.2.0-py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 8.0 MB/s  eta 0:00:01
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: idna in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 3.6 MB/s eta 0:00:011
Installing collected packages: attrs, sniffio, outcome, h11, exceptiongroup, wsproto, trio, typing-extensions, trio-websocket, selenium
  Attempting uninstall: attrs
    Found existing installation: attrs 21.4.0
    Uninstalling attrs-21.4.0:
      Successfully uninstalled attrs-21.4.0
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
Successfully installed attrs-23.2.0 exceptiongroup-1.2.0 h11-0.14.0 outcome-1.3.0.post0 selenium-4.19.0 sniffio-1.3.1 trio-0.25.0 trio-websocket-0.11.1 typing-extensions-4.10.0 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd

In [2]:
url = 'https://www.goszakup.gov.kz/ru/registry/rqc'
driver = webdriver.Chrome()  # Укажите путь к драйверу вашего браузера
driver.get(url)

[<selenium.webdriver.remote.webelement.WebElement (session="489617439f9b2b3d94e01348607f379e", element="f.86B585B87781698C1422B7CBEEBAA07C.d.5A05F80934441DABFBAD7503CDA5A29C.e.213")>]
None

In [5]:
import urllib.request
from bs4 import BeautifulSoup

soup = BeautifulSoup(driver.page_source, 'html.parser')
tbody = soup('table', {"class": "table table-bordered table-hover"})[0].find_all('tr')

for row in tbody:
    cols = row.findChildren(recursive=False)
    
    cols = [ele.text.strip() for ele in cols]
    print(cols)

['№', 'Наименование потенциального поставщика', 'БИН/ИИН', 'Наименование, номер и дата выдачи документа, на основании которого потенциальный поставщик включен в Перечень']
['467', 'Товарищество с ограниченной ответственностью "Эмир-Трэйд"', '160540016411', '115000002, 2099-12-31 00:00:00']
['502', 'Товарищество с ограниченной ответственностью"GLASMAN"', '070540008075', '102000012, 2099-12-31 00:00:00']
['517', 'ТОО "Гражданин"', '090540008881', '101 0 00010,']
['526', 'Товарищество с ограниченной ответственностью "ЭлтексАлатау"', '110740014027', '102900003, 2019-08-08 10:57:18']
['528', 'ТОО "KazBioServis-Astana"', '130740024484', '101000008, 2099-12-31 00:00:00']
['551', 'ТОО "ПРАГМА"', '000440001170', '107000007, 2099-12-31 00:00:00']
['553', 'ТОО "ЕСКО" по производству чулочно-носочных изделий', '060540009190', '110900004, 2019-07-04 10:57:10']
['562', 'ТОО "Азия - Софт Сервис ЛТД"', '031040000512', '102000037, 2099-12-31 00:00:00']
['574', 'Товарищество с ограниченной ответственностью "Казахстанская Агро Инновационная Корпорация"', '100740005561', '103000015, 2099-12-31 00:00:00']
['590', 'ТОО "Завод КазАрматура"', '121140005050', '110900064, 2099-12-31 00:00:00']
['592', 'ТОО "Талдықорғанкабель"', '180940034824', '105000023, 2099-12-31 00:00:00']
['605', 'ТОО "Социал 2010"', '100340021797', '102000090, 2099-12-31 00:00:00']
['469', 'ТОО "BAYAZIT Life"', '151240021993', '107900017, 2099-12-31 00:00:00']
['493', 'ТОО "Алтын Адам тігін фабрикасы"', '131140028369', '117900006, 2099-12-31 00:00:00']
['420', 'ТОО "ТЕРРА ВИТА"', '070940005293', '107900027, 2099-12-31 00:00:00']
['430', 'ИП АМАНБАЕВ и.К.', '790720304070', '114900017, 2099-12-31 00:00:00']
['455', 'Товарищество с ограниченной ответственностью "Швейная фабрика "ЩЕБЕР"', '081240006419', '114900013, 2099-12-31 00:00:00']
['464', 'ТОО "Мебель Парк"', '090540004363', '111900018, 2099-12-31 00:00:00']
['487', 'ТОО "Швейный салон "ВЕСТА"', '990940002766', '101900024, 2099-12-31 00:00:00']
['490', 'Учреждение "Усть-Каменогорское УПП ОО "КОГ"', '930240000565', '107900012, 2019-08-16 00:00:00']
['468', 'ТОО "DD21"', '120540021936', '101900001, 2019-05-21 10:57:05']
['533', 'ТОО "Hyundai Trans Auto"', '980940000817', '102000015, 2099-12-31 00:00:00']
['535', 'ТОО "IT Factory"', '140140009193', '101000029, 2099-12-31 00:00:00']
['536', 'ТОО "IT Factory"', '140140009193', '101000029, 2099-12-31 00:00:00']
['569', 'ТОО "IR.KZ"', '090940015105', '101000042, 2099-12-31 00:00:00']
['578', 'Товарищество с ограниченной ответственностью "Бал Текстиль"', '111240013497', '116900016, 2099-12-31 00:00:00']
['580', 'ТОО "FlowPort"', '140940026291', '101000052, 2099-12-31 00:00:00']
['334', 'ТОО "АУПП №2 ОО "ОНИ"', '131040010808', '102900026, 2099-12-31 00:00:00']
['335', 'ТОО "ДАРХАН-МНМ"', '070740011052', '105900010, 2019-09-09 00:00:00']
['345', 'Товарищество с ограниченной ответственностью "Фирма Леонтьев"', '020140003457', '115900003, 2019-07-05 00:00:00']
['352', 'ТОО "Экспериментальный завод №1"', '060540005158', '110900019, 2019-08-06 00:00:00']
['353', 'Товарищество с ограниченной ответственностью "ШВЕЙНАЯ ФАБРИКА "TAILOR-S"', '130940012636', '114900007, 2019-08-29 00:00:00']
['354', 'ТОО "Трикотажная фабрика "Жейде"', '001040000359', '111900003, 2019-06-28 00:00:00']
['363', 'ТОО "СЕМСПЕЦСНАБ"', '000740000639', '107900007, 2019-06-14 00:00:00']
['366', 'ТОО "Озык"', '931140000277', '112900006, 2019-07-30 00:00:00']
['368', 'Товарищество с ограниченной ответственностью "Швейная фабрика школьной и детской одежды"', '160740008923', '115900002, 2019-06-26 00:00:00']
['373', 'ТОО "Алем-БТ"', '010340005151', '116900015, 2019-09-20 00:00:00']
['382', 'ТОО "Раушан-Ай"', '080840001784', '105900006, 2019-06-28 00:00:00']
['385', 'ТОО "DANMARD"', '081240015329', '101900033, 2019-09-23 00:00:00']
['396', 'Товарищество с ограниченной ответственностью "Производственно-коммерческая фирма Торнадо-PLUS"', '940640001262', '102900004, 2019-06-27 00:00:00']
['398', 'ТОО "ТФ Ажар"', '930840000319', '105900005, 2019-06-28 00:00:00']
['416', 'ИП "Дана-Дель"', '700726401523', '108900010, 2099-12-31 00:00:00']
['421', 'Товарищество с ограниченной ответственностью "Universal - Build"', '040440003749', '102900058, 2099-12-31 00:00:00']
['431', 'ИП ЕХЛАКОВА', '641101400734', '103900023, 2099-12-31 00:00:00']
['460', 'ИП БЕЙСЕМБАЕВА Ж.Ж.', '760910401722', '108000001, 2099-12-31 00:00:00']
['489', 'Учреждение "Усть-Каменогорское УПП ОО "КОГ"', '930240000565', '107900012, 2019-08-16 00:00:00']
['617', 'Товарищество с ограниченной ответственностью "KazBioChem"', '131140012154', '102000114, 2099-12-31 00:00:00']
['769', 'ТОО "Design ProClothes"', '101040008226', '105100001, 2099-12-31 00:00:00']
['841', 'Товарищество с ограниченной ответственностью "QMedi"', '160740002052', '101100040, 2099-12-31 00:00:00']
['856', 'Товарищество с ограниченной ответственностью "Швейная фирма "Семирамида"', '970540000454', '102900041, 2099-12-31 00:00:00']
['612', 'ТОО "Ман78"', '191040024056', '110000011, 2099-12-31 00:00:00']
['626', 'ТОО "KeyHorse"', '180440024125', '102000081, 2099-12-31 00:00:00']
['645', 'ТОО "AGER 2005"', '180740032038', '101900012, 2019-07-05 00:00:00']
['766', 'ТОО "Turan-Skin"', '020840001278', '116000008, 2099-12-31 00:00:00']
['787', 'ИП Алдабергенова Г С', '790817402840', '103100001, 2099-12-31 00:00:00']
['795', 'ТОО "СМ Консалт"', '150240009763', '101100026, 2099-12-31 00:00:00']
['825', 'Товарищество с ограниченной ответственностью "XFinity Solutions"', '181140000764', '102100057, 2099-12-31 00:00:00']
['829', 'АО "Усть-Каменогорский завод промышленной арматуры"', '130140000564', '107900034, 2099-12-31 00:00:00']
['850', 'ТОО "Азия-Тех"', '030540002643', '110900015, 2019-08-09 00:00:00']
['854', 'ТОО "КазОптЮг"', '110640006558', '116100050, 2099-12-31 00:00:00']
['637', 'ТОО "Бёмер Арматура"', '111240016692', '110900001, 2019-07-05 10:57:10']
['653', 'Товарищество с ограниченной ответственностью "Лезарт"', '020940003179', '102000107, 2099-12-31 00:00:00']
['672', 'Товарищество с ограниченной ответственностью "Швейная фабрика "ЩЕБЕР"', '081240006419', '114900013, 2099-12-31 00:00:00']
['677', 'ТОО «Уральское учебно-производственное предприятие общественного объединения «Казахское общество слепых»', '050640005368', '109000016, 2099-12-31 00:00:00']
['678', 'ТОО "Меридиан Софт"', '070240017925', '102000021, 2099-12-31 00:00:00']
['718', 'ТОО "DIMAK MARKET"', '171040023262', '105000034, 2099-12-31 00:00:00']
['668', 'ТОО "CENTECH"', '130140013704', '106100001, 2099-12-31 00:00:00']
['731', 'Товарищество с ограниченной ответственностью"Дострейд-СПЕЦ"', '100240023551', '102100018, 2099-12-31 00:00:00']
['743', 'ТОО "A.Priori"', '000640004142', '109900006, 2099-12-31 00:00:00']
['770', 'Senator23', '970523350139', '101100021, 2099-12-31 00:00:00']
['780', 'ИП "ИМАЖАНОВ"', '840301300754', '117000011, 2099-12-31 00:00:00']
['782', 'ИП "ИМАЖАНОВ"', '840301300754', '117000011, 2099-12-31 00:00:00']
['865', 'ТОО "Platonus"', '091240015407', '']
['869', 'ТОО "Global information systems"', '180940024946', '109100004, 2099-12-31 00:00:00']
['877', 'ТОО "Национальный инновационный центр"', '150340006356', '102000020, 2099-12-31 00:00:00']
['879', 'ТОО "IT Space"', '150140002722', '102900065, 2099-12-31 00:00:00']
['895', 'ТОО "Otan Technologies"', '160940005966', '']
['609', 'Товарищество с ограниченной ответственностью "OPEN SYSTEMS DEVELOPMENT"', '130240013649', '101000065, 2099-12-31 00:00:00']
['636', 'ТОО "М-АРТ"', '941240001429', '102000112, 2099-12-31 00:00:00']
['654', 'Товарищество с ограниченной ответственностью "Лезарт"', '020940003179', '102000107, 2099-12-31 00:00:00']
['669', 'ТОО "SSH Group"', '130640021466', '107000028, 2099-12-31 00:00:00']
['763', 'ТОО "FLEXY PHARM"', '020340000539', '102100019, 2099-12-31 00:00:00']
['777', 'ТОО "УКУППОО "КОС"', '940340000045', '107900025, 2099-12-31 00:00:00']
['899', 'ИП   Исаков', '611202350143', '']
['691', 'ТОО "INTEGRITY-A.A."', '070840007927', '101000091, 2099-12-31 00:00:00']
['700', 'Товарищество с ограниченной ответственностью "Алматыэнергосервис"', '070940020277', '102000056, 2099-12-31 00:00:00']
['714', 'Товарищество с ограниченной ответственностью "CASPIY & DiFa"', '080340019233', '113100001, 2099-12-31 00:00:00']
['716', 'Товарищество с ограниченной ответственностью "CASPIY & DiFa"', '080340019233', '113100001, 2099-12-31 00:00:00']
['735', 'Товарищество с ограниченной ответственностью "КАЗЭЛЕКТРОМАШ"', '950440001554', '107000006, 2099-12-31 00:00:00']
['778', 'ТОО "Мерусар и К"', '010740002885', '114100002, 2099-12-31 00:00:00']
['792', 'ТОО "Инвестиционный дом "IVM"', '100640006526', '102100045, 2099-12-31 00:00:00']
['801', 'ТОО "НефтеТехника"', '121240004541', '102100033, 2099-12-31 00:00:00']
['845', 'ТОО "Научно-исследовательская лаборатория "Гамма Технологии"', '980340000290', '102000013, 2099-12-31 00:00:00']
['857', 'Швейное предприятие на Московской', '671025450307', '101100048, 2099-12-31 00:00:00']
['686', 'ТОО "Hein & Partner (Хайн энд Партнер)"', '100340018482', '102000111, 2099-12-31 00:00:00']
['690', 'ТОО "Центр Информационных Систем города Алматы"', '000940001436', '102000133, 2099-12-31 00:00:00']
['729', 'Товарищество с ограниченной ответственностью "ADAL KYZMET GROUP"', '130640001164', '102100022, 2099-12-31 00:00:00']
['734', 'Товарищество с ограниченной ответственностью "КАЗЭЛЕКТРОМАШ"', '950440001554', '107000006, 2099-12-31 00:00:00']
['762', 'ТОО "АФО "ТАНЫМГЕР"', '160940007665', '102100008, 2099-12-31 00:00:00']
['476', 'Товарищество с ограниченной ответственностью ПКК "Арго"', '030640002637', '102900071, 2099-12-31 00:00:00']
['618', 'ТОО "Epsilon Group" (Эпсилон Групп)"', '150940009194', '104900003, 2099-12-31 00:00:00']
['404', 'ТОО "Р.Т.Z."', '060340001960', '105900012, 2099-12-31 00:00:00']
['506', 'ТОО "InesSoft"', '061140012743', '101900054, 2099-12-31 00:00:00']
['727', 'ОО "Общество инвалидов "КӨМЕК БОЛАШАҚ"', '150240017279', '116000023, 2099-12-31 00:00:00']
['477', 'ТОО "Астана-Жиһаз фабрикасы"', '111040003861', '101900019, 2099-12-31 00:00:00']
['747', 'ТОО "Азия-Тех"', '030540002643', '110900015, 2019-08-09 00:00:00']
['748', 'ТОО "Азия-Тех"', '030540002643', '110900015, 2019-08-09 00:00:00']
['619', 'Товарищество с ограниченной ответственностью "Артель Инжиниринг"', '100640006962', '106000007, 2099-12-31 00:00:00']
['367', 'Товарищество с ограниченной ответственностью "Идальго Актау"', '061140006095', '113900004, 2099-12-31 00:00:00']
['478', 'ТОО "Clotwell"', '130940018109', '105900019, 2099-12-31 00:00:00']
['659', 'Товарищество с ограниченной ответственностью "KMInvest"', '181040009457', '101000094, 2099-12-31 00:00:00']
['593', 'ТОО "Ателье Омаровых"', '011240009699', '107900039, 2099-12-31 00:00:00']
['750', 'ТОО "Vita Pharma"', '160640003364', '101100015, 2099-12-31 00:00:00']
['545', 'ТОО "Benediximus"', '180440028277', '108000002, 2099-12-31 00:00:00']
['660', 'АО "Казахстан ГИС Центр"', '050540001669', '101000098, 2099-12-31 00:00:00']
['667', 'ТОО "Artson Build Invest"', '130240028200', '110000054, 2099-12-31 00:00:00']
['788', 'ТОО "Тарлан К"', '190140033086', '102100043, 2099-12-31 00:00:00']
['433', 'ТОО "АУПП №1 ОО "ОНИ"', '130240013024', '102900042, 2099-12-31 00:00:00']
['805', 'ИП ЖАРКУМБАЕВА', '710126450066', '114000003, 2099-12-31 00:00:00']
['621', 'ОО "Общества поддержки инвалидов "Демеу"', '150740011357', '109000021, 2099-12-31 00:00:00']
['794', 'ТОО "Уральская швейная фабрика "Диана"', '160440026396', '109000024, 2099-12-31 00:00:00']
['376', 'Учреждение "Семейское УПП ОО "КОГ"', '920140000533', '107900009, 2019-08-02 00:00:00']
['482', '"Галиева Р.Б"', '700908402411', '104000006, 2099-12-31 00:00:00']
['585', 'ТОО "DOLCE"', '980340001516', '105000031, 2099-12-31 00:00:00']
['595', 'ТОО "Карагандинское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '990540003006', '110900049, 2099-12-31 00:00:00']
['409', 'ТОО "Карагандинское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '990540003006', '110900049, 2099-12-31 00:00:00']
['374', 'ТОО «Семейское учебно-производственное предприятие общественного объединения «Казахское общество слепых»', '100240020418', '107900020, 2099-12-31 00:00:00']
['388', 'ТОО "Lider PROF FASHION" (Лидер ПРОФ ФЕШЕН)', '070140005908', '115900004, 2019-06-27 00:00:00']
['479', 'УЕ "Кызылординское УПП ОО "КОГ"', '950940000574', '112000002, 2099-12-31 00:00:00']
['337', 'ТОО "KAZYNA-SR"', '000340006356', '103900002, 2019-06-18 00:00:00']
['948', 'ИП "РROFIT"', '870108350737', '']
['823', 'ТОО "LAKE FARM"', '140240006063', '105100022, 2099-12-31 00:00:00']
['423', 'Товарищество с ограниченной ответственностью «FIRM «KAZ CENTRE»', '020540004093', '105900022, 2099-12-31 00:00:00']
['843', 'Товарищества с ограниченной ответственностью "KARLSKRONA LC AB"', '031140003124', '116000028, 2099-12-31 00:00:00']
['570', 'ТОО "Helios Soft"', '960140001268', '101900008, 2019-07-17 00:00:00']
['380', 'ТОО "Экибастузское учебно - производственное предприятие Казахского общества слепых"', '940740001325', '114900006, 2019-08-21 00:00:00']
['651', 'ТОО "ПетроМашЗавод"', '180640024438', '115900017, 2099-12-31 00:00:00']
['926', 'Товарищество с ограниченной ответственностью "Fintend"', '130540008049', '']
['951', 'ПК "СК Гранд Канал"', '921040000479', '105900020, 2099-12-31 00:00:00']
['583', 'ТОО "КАЗГИСА"', '160640012690', '101000051, 2099-12-31 00:00:00']
['496', 'ОО "Центр реабилитационных услуг "Шарапат"', '080940010444', '102000009, 2099-12-31 00:00:00']
['495', 'ОО "Центр реабилитационных услуг "Шарапат"', '080940010444', '102000009, 2099-12-31 00:00:00']
['880', 'ТОО "Центр Информационных Технологий "ДАМУ"', '011140002717', '101000066, 2099-12-31 00:00:00']
['473', 'ОО "Центр реабилитационных услуг "Шарапат"', '080940010444', '102000009, 2099-12-31 00:00:00']
['628', 'ТОО "Trans Motors Group"', '120340017336', '115000006, 2099-12-31 00:00:00']
['603', 'ТОО "PC4U"', '180140039648', '102000007, 2099-12-31 00:00:00']
['454', 'ТОО "А УПП № 2 ОО \'КОС"', '990740001939', '102900019, 2019-08-29 00:00:00']
['834', 'ТОО "NurlySoft"', '180140008033', '101100039, 2099-12-31 00:00:00']
['331', 'ТОО"Альфа Плюс"', '000340000773', '102900002, 2019-06-27 00:00:00']
['412', 'ТОО "Грант-Ют"', '020940003051', '102900039, 2099-12-31 00:00:00']
['696', 'ТОО "Сатпаевское учебно-производственное предприятие Казахского общества слепых"', '930240000486', '110100002, 2099-12-31 00:00:00']
['472', 'ТОО "АФИНИТИ"', '121040021821', '102900056, 2099-12-31 00:00:00']
['392', 'Товарищество с ограниченной ответственностью "Экспериментальное предприятие Казахского общества слепых"', '971040001902', '102900025, 2099-12-31 00:00:00']
['391', 'ТОО "Актюбинское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '920440000055', '104900004, 2019-07-02 00:00:00']
['604', 'ТОО "Жамбылское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '611040000049', '108000008, 2099-12-31 00:00:00']
['790', 'ТОО "ZETA Инжиниринг"', '090840010203', '102000002, 2099-12-31 00:00:00']
['597', 'ТОО "Bayan Auyl SDE"', '180540017037', '101000069, 2099-12-31 00:00:00']
['851', 'ОО "Павлодарское областное добровольное общество инвалидов"', '911240000683', '114900018, 2099-12-31 00:00:00']
['791', 'ТОО "TNG"', '070840002552', '101100017, 2099-12-31 00:00:00']
['658', 'ТОО "IT centre Karaganda" (АйТи центр Караганда)', '120140004525', '110000048, 2099-12-31 00:00:00']
['884', 'ТОО "ALU"', '111040002833', '']
['448', 'ТОО "Жетысуское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '041240007053', '105900028, 2099-12-31 00:00:00']
['867', 'Товарищество с ограниченной ответственностью "InWay"', '150540012299', '']
['862', 'ТОО "Bilim Media Group"', '110440012812', '101000074, 2099-12-31 00:00:00']
['550', 'ТОО "ГеоКом Астана"', '150140022152', '101000011, 2099-12-31 00:00:00']
['736', 'ТОО "QazTehna"', '190840008556', '110100004, 2099-12-31 00:00:00']
['370', 'ТОО "ПИК "ASTANA Ютария ltd"', '130240026452', '101900002, 2019-04-29 00:00:00']
['634', 'ТОО "Астана-Технадзор"', '120840001080', '101000007, 2099-12-31 00:00:00']
['432', 'Товарищество с ограниченной ответственностью "Дом форменной одежды "БОЛАШАК"', '040940011699', '102900055, 2099-12-31 00:00:00']
['341', 'ТОО "Шымкентское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '950140001058', '116900011, 2019-08-01 00:00:00']
['640', 'ТОО "Ленгерское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '910340000024', '117000007, 2099-12-31 00:00:00']
['846', 'ТОО "ЭКОпром Павлодар"', '080140001580', '114900016, 2099-12-31 00:00:00']
['625', 'ТОО "Каскеленское Учебно-производственное предприятие Казахского общества слепых"', '941140001564', '105000026, 2099-12-31 00:00:00']
['881', 'ТОО "Digital System Servis"', '050740001735', '101900039, 2099-12-31 00:00:00']
['755', 'ОО "Общество инвалидов "Несібе-Нұр"', '180140026468', '116100019, 2099-12-31 00:00:00']
['842', 'ТОО "Общество инвалидов "ЗАМАН"', '140640009766', '101100020, 2099-12-31 00:00:00']
['531', 'ТОО "Швейная фабрика ДИАС"', '091240012524', '103000007, 2099-12-31 00:00:00']
['822', 'ТОО "ПО ASCOR"', '140240006678', '114000026, 2099-12-31 00:00:00']
['639', 'ТОО "БЕРЕКЕЛІ ТОБЫ"', '170740018030', '101000086, 2099-12-31 00:00:00']
['579', 'ТОО "MN Partners"', '100340011650', '101000048, 2099-12-31 00:00:00']
['797', 'Товарищество с ограниченной ответственностью "Актауское учебно-производственное предприятие общественного объединения "Казахское общество слепых"', '941240000321', '113000014, 2099-12-31 00:00:00']
['507', 'ТОО "IServ"', '141140025732', '101000003, 2099-12-31 00:00:00']
['483', 'ТОО "БЭСТ-Астана-НС"', '040740005657', '101900011, 2099-12-31 00:00:00']
['498', 'ТОО "БЭСТ-Астана-НС"', '040740005657', '101900011, 2099-12-31 00:00:00']
['557', 'ТОО "Казахстанский Центр геоинформационных систем"', '040440007731', '101900063, 2099-12-31 00:00:00']
['684', 'ТОО "ТИБР"', '950340001739', '102000038, 2099-12-31 00:00:00']
['573', 'ТОО "HTEL"', '060640000765', '101000050, 2099-12-31 00:00:00']
['974', 'ТОО "Реал Чойс"', '161040007675', '']
['977', 'ТОО "Lean Solutions"', '181040009407', '']
['981', 'ТОО "ЦИТ "Өрлеу"', '071040022441', '']
['990', 'ТОО "Itech Pro"', '090140006127', '']
['992', 'ТОО "Koktem Tech"', '220440053258', '']
['1017', 'ТОО "BizCom"', '030440003599', '']
['978', 'ТОО "Антиплагиат. Казахстан"', '210440000453', '']
['988', 'ТОО "BigProf"', '161140028473', '']
['998', 'ТОО "Proxymo"', '190340018832', '']
['1011', 'Товарищество с ограниченной ответственностью "iZoom"', '200240027298', '']
['983', 'ИП "MURAGER"', '900622300753', '']
['1004', 'ТОО "Baiterek industry"', '180140020934', '']
['1022', 'Товарищество с ограниченной ответственностью "Бай болат"', '081040004584', '']
['997', 'ТОО "QazTiQet"', '190240033486', '']
['1023', 'ТОО "Esm system"', '170440006660', '']
['976', 'ТОО "DOCSTOCK.KZ"', '170340013719', '']
['986', 'ТОО "Новые технологии-Тараз"', '130540006429', '']
['991', 'Товарищество с ограниченной ответственностью "ACM Management"', '160440010974', '']
['1006', 'ТОО "Авежур"', '150140003087', '']
['1021', 'ТОО "Dynamics Business Technologies"', '170940032271', '']
['972', 'Товарищество с ограниченной ответственностью "Terra Alatau"', '200140008545', '']
['996', 'Товарищество с ограниченной ответственностью "Alan Tech"', '210740020855', '']
['427', 'ТОО "Семипалатинская обувная фабрика"', '020640004572', '107900028, 2099-12-31 00:00:00']
['629', 'ТОО "БАТАЛАСУ"', '021040000015', '109000023, 2099-12-31 00:00:00']
['1025', 'ТОО "Wisk Telecom Solutions" (Виск Телеком Солюшенс)', '111140019207', '']
['935', 'ТОО "CIFRTECH"', '210440000631', '']
['812', 'ТОО "Фирма "Maximus"', '021240000914', '102100007, 2099-12-31 00:00:00']
['648', 'ТОО "ДИМ Строй"', '071040010874', '107000033, 2099-12-31 00:00:00']

In [228]:
pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 710 kB/s eta 0:00:01
Requirement already satisfied: six>=1.9 in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/erdauit/opt/anaconda3/lib/python3.9/site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
from selenium.webdriver.chrome.options import Options

def extracting_name_iin(link):
    
    soup = BeautifulSoup(urllib.request.urlopen(link).read(),'lxml')

    table = soup.find_all('table')
    df1 = pd.read_html(str(table))[2].drop([1,1]).T.drop([0,0]).reset_index()
    df2 = pd.read_html(str(table))[3]
    extracted_col = df2["Полный адрес(рус)"]

    new_dataframe = pd.concat([df1, extracted_col.rename("Address")], axis=1).drop(['index'],axis=1)
    return new_dataframe


soup = BeautifulSoup(driver.page_source, 'html.parser')
table = soup('table')[0]
final_df = pd.read_html(str(table))[0]

for row in table.find_all('tr'):
    for link in row.find_all('a', href=True):
        df = extracting_name_iin(link['href'])
        display(df)

final_df

,0,2,Address
0,870811351023,КОЖАНТАЕВ АЙДАР АСКАРОВИЧ,"Северо-Казахстанская область, г.Петропавловск,..."

,0,2,Address
0,760315301474,ХИЛАЖЕВ АНВАР ОЛЕГОВИЧ,"Алматинская область, Талгарский район, г.Талга..."

,0,2,Address
0,810315300428,МАКСИМОВ ЕВГЕНИЙ ИГОРЕВИЧ,"г.Астана, район Есиль, Кунаева , 12/1"
1,NaN,NaN,"г.Астана, ИМАНБАЕВОЙ, 8/1"

,0,2,Address
0,790908300861,ЖАНИБЕКОВ НУРЛАН СЕЙЛХАНОВИЧ,"г.Алматы, Медеуский район, мкр. Алатау, Ибраги..."
1,NaN,NaN,"г.Алматы, п.Алатау-Ибрагимова(Б.Ленина), 9"

,0,2,Address
0,810515350203,ЧИРЬЕВ ЕВГЕНИЙ ВАДИМОВИЧ,"г.Астана, Жилой массив КОКТАЛ , Улица БОЛАШАК, 34"
1,NaN,NaN,"г.Астана, район Сарыарка, Болашақ, 34"

,0,2,Address
0,810210401550,ИВАНОВА ОЛЬГА НИКОЛАЕВНА,"Восточно-Казахстанская область, г.Усть-Каменог..."
1,NaN,NaN,"Восточно-Казахстанская область, г.Усть-Каменог..."

,0,2,Address
0,720124300143,ШМАРИН АНДРЕЙ ГЕННАДЬЕВИЧ,"Карагандинская область, г.Караганда, Бабушкина..."

              0                          2                     Address
0  660525400344  БУКАНОВА МАРИНА ИСЛАМОВНА  г.Алматы, Ходжанова, 61, 2

,0,2,Address
0,790828301131,БАЛЫБИН ОЛЕГ ГЕННАДЬЕВИЧ,"Акмолинская область, г.Кокшетау, Без типа СЕВЕ..."

,0,2,Address
0,770718300354,КИМ СЕРГЕЙ БОРИСЛАВОВИЧ,"Карагандинская область, г.Темиртау, Ушинского, 2А"

,0,2,Address
0,660912300282,АЛЕКСЕНЦЕВ ГРИГОРИЙ ВАЛЕРИЕВИЧ,"Алматинская область, г.Қонаев, Желтоксан, 205"

,0,2,Address
0,760331350023,АМАНТАЕВ АЙДОС УМИРЗАКОВИЧ,"Карагандинская область, Караганда Г.А., р.а. и..."
1,NaN,NaN,"Карагандинская область, г.Караганда, Ермекова,..."

,0,2,Address
0,560425302171,ЕШИНГАЛИЕВ БЕЛЕГЕН ТЕЛЕУОВИЧ,"Восточно-Казахстанская область, г.Семей, Семит..."

,0,2,Address
0,730405402541,ХАЛМУРАТОВА БАЛЖАН ОРАЗАЛИЕВНА,"Южно-Казахстанская область, Сайрамский район, ..."
1,NaN,NaN,"Южно-Казахстанская область, Сайрамский район, ..."

,0,2,Address
0,580626401255,ИСАБАЕВА НАСИХАТ КАБДЫГАЛИЕВНА,"Восточно-Казахстанская область, г.Семей, Шугае..."

,0,2,Address
0,790720304070,АМАНБАЕВ СЕРИК ТОКТАРБЕКОВИЧ,"Павлодарская область, г.Аксу, Астана, 18"

,0,2,Address
0,660203000102,ТАСЕКЕШЕВА АКБУЙМА ИЗБАСАРОВНА,"Павлодарская область, г.Павлодар, ПРОМЫШЛЕННАЯ..."

,0,2,Address
0,770608301012,ОДЕГОВ АЛЕКСАНДР СЕРГЕЕВИЧ,"Костанайская область, г.Рудный, 50 лет Октября..."
1,NaN,NaN,"Костанайская область, г.Рудный, 50 лет Октября..."

              0                              2                  Address
0  500929400923  ШАДЫЖЕВА ПЕРДОВС САФАРБЕКОВНА  г.Астана, АУЭЗОВА М, 26

,0,2,Address
0,731025302443,МЕИРБАЕВ ЕРЛАН ШАКАРИМОВИЧ,"Восточно-Казахстанская область, г.Усть-Каменог..."

,0,2,Address
0,760907301726,АБИЛОВ КАНАТ АЛТЫНБЕКОВИЧ,"Акмолинская область, г.Косшы , Республики, 2Б"
1,NaN,NaN,"г.Астана, МАНАС, 13, 18"

              0                        2                      Address
0  850105350013  ГАЕВ АДИЛБЕК НУРЛАНОВИЧ  г.Алматы, Бухтарминская, 70

,0,2,Address
0,831017300602,АХМЕТОВ ЕРЛАН ТАЛГАТОВИЧ,"г.Алматы, Алмалинский район, ПРОСПЕКТ АБАЯ, 151"
1,NaN,NaN,"г.Алматы, ПРОСПЕКТ АБАЯ, 151, 409"

,0,2,Address
0,831017300602,АХМЕТОВ ЕРЛАН ТАЛГАТОВИЧ,"г.Алматы, Алмалинский район, ПРОСПЕКТ АБАЯ, 151"
1,NaN,NaN,"г.Алматы, ПРОСПЕКТ АБАЯ, 151, 409"

              0                          2                           Address
0  811129350575  ТУР ЕВГЕНИЙ АЛЕКСАНДРОВИЧ  г.Астана, к?йші Дина, 23/1, ВП-4

,0,2,Address
0,680503300400,ИСХАХОВ ТАЛГАТ ЖУНИСБЕКОВИЧ,"Южно-Казахстанская область, г.Шымкент, Квартал..."

,0,2,Address
0,910420350743,СМАГУЛОВ ЕРБОЛ ЖАНБЫРУЛЫ,"г.Астана, Проспект МАНГИЛИК ЕЛ, 8, блок 17В, о..."

,0,2,Address
0,640318400038,МАКПЫРОВА ЛАЗЗАТ МАКПЫРОВНА,"г.Алматы, Ауэзовский район, Толе би, 299, Офис..."
1,NaN,NaN,"г.Алматы, МИКРОРАЙОН АКСАЙ-3, 33"

,0,2,Address
0,800825302742,ДУРАС АЛЕКСАНДР НИКОЛАЕВИЧ,"Алматинская область, Илийский район, с.Отеген ..."
1,NaN,NaN,"Алматинская область, Илийский район, с.Отеген ..."

,0,2,Address
0,660516350117,ГУСАКОВ АЛЕКСАНДР АЛЕКСАНДРОВИЧ,"Северо-Казахстанская область, г.Петропавловск,..."
1,NaN,NaN,"Северо-Казахстанская область, г.Петропавловск,..."

ValueError: No tables found